<form action="/students" method = "post">
	<div class="row">
		<div class="large-6 columns">
			<div class="row collapse pefix-radius">
				<div class="small-3 columns">
					<span class="prefix">First name:</span>
					<input type="text" name="firstname">
					<span class="prefix">Last name:</span>
					<input type="text" name="lastname">
					<span class="prefix">Major:</span>
					<select name="major">
						<option  value="Information Systems">Information Systems</option>
						<option value="Computer Science">Computer Science</option>
						<option  value="Biological Science">Biological Science</option>
						<option value="Business Administration">Business Administration</option>
					</select>
					<span class="prefix">Email Address:</span>
					<input type="text" name="email">
					<span class="prefix">Graduation Status:</span>
					<select name="graduationstat">
						<option  value="YES">Graduated</option>
						<option value="NO">Not graduated</option>
					</select>
					<input type="submit" class="button" value="Submit">
				</div>
			</div>
		</div>
	</div>
</form>